.header__lang-link {
    margin: 0;
    display: flex;
    width: 29px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
}
.header__lang-link:first-child {
    text-decoration-line: underline;
}
@media screen and (max-width: 320px) {
    .header__lang-link {
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 6px;
    }
}