@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url("../../../../../fonts/Inter-3.19/InterWeb/Inter-Regular.woff2") format("woff2"),
         url("../../../../../fonts/Inter-3.19/InterWeb/Inter-Regular.woff") format("woff"),
         url("../../../../../fonts/Inter-3.19/InterWeb/Inter-Bold.woff2") format("woff2"),
         url("../../../../../fonts/Inter-3.19/InterWeb/Inter-Bold.woff") format("woff");
}
.page {
    position: relative;
    width: 1280px;
    height: 6875px;
    background: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter', "Arial", sans-serif;
}