.cover__subtitle {
    position: absolute;
    margin: 0;
    top: 429px;
    left: 412px;
    width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        top: 379px;
        left: 332px;
    }
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        top: 299px;
        left: 204px;
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        top: 119px;
        left: 16px;
    }
}