.header__logo {
    position: relative;
    margin: 0;
    width: 176px;
    height: 52px;
    border: 0;
}
@media screen and (max-width: 320px) {
    .header__logo {
        transform: scale(0.8068); 
    }
}
