.place__paragraph {
    margin: 0;
    margin-left: 0px;
    margin-bottom: 26px;
    position: relative;
    right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}
.place__paragraph:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 163%;
    }
}
@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}