.intro {
    position: relative;
    margin: 0 auto;
    margin-top: 92px;
    margin-left: 148px;
    width: 690px;
}
@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        margin: 0 auto;
        width: 720px;
        margin-top: 88px;
    }
}
@media screen and (max-width: 750px) {
    .intro {
        margin: 0 auto;
        width: 288px;
        margin-top: 64px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        width: 288px;
        margin-top: 64px;
    }
}
