.lead__subtitle {
    position: relative;
    width: 640px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 32px auto 0px;
}