.place {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.place:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
    }
}
@media screen and (max-width: 320px) {
    .place {
        margin-bottom: 50px;
        grid-template-columns: 1fr;
    }
}