.footer {
    position: relative;
    width: 92.5%;
    margin: 0 auto;
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 695px) {
    .footer {
        width: 186px;
        flex-direction: column;
        margin-left: 16px;
        margin-top: 64px;
    }
}