.place__website {
    position: relative;
    margin: 0 auto;
    margin-right: 28px;
    margin-bottom: 48px;
    width: 456px;
    height: 46px;
    align-self: end;
}
@media screen and (max-width: 1024px) {
    .place__website {
        width: 288px;
        margin-left: 32px;
    }
}
@media screen and (max-width: 768px) {
    .place__website {
        width: 288px;
        margin-left: 28px;
    }
}
@media screen and (max-width: 720px) {
    .place__website {
        width: 288px;
        margin-left: 0;
    }
}
@media screen and (max-width: 360px) {
    .place__website {
        width: 288px;
        margin-right: 0;
        margin-left: 16px;
    }
}
@media screen and (max-width: 320px) {
    .place__website {
        width: 288px;
        margin-right: 0;
        margin-left: 16px;
    }
}